@import '_include-media.scss';
@mixin clearfix{
  display: flex;
  flex-direction: column;
  width: 255px;
}
@mixin containerp{
  font-family: Conv_SegoeWPN, sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
body{
  font-family: Conv_SegoeWPN, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
  color: #9f9f9f;
  display: flex;
  flex-direction: column;
}
*{
	box-sizing: border-box;
}
a{
  color: #5094f2;
  text-decoration: none;
}
a:hover{
  color: #5094f2;
}
// .header-wrapper {
//     background-color: #2d2d2d;
//     height: 184px;
//     @include media('<1000px') {
//         background: #f00;
//     }
// }
.prechu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 976px;
  min-height: 88px;
  margin: auto;
  position: relative;
   @include media('<1010px') {
          width: 100%;
          padding-left: 10px;
          padding-right: 10px;

    }
}
.prechu .logo{
  display: flex;
  flex-direction: row;

}
.prechu .logo span img{
  padding-top: 18px;
 
}
.prechu .logo strong{
  font-family: Conv_SegoeWPN, sans-serif;
  font-weight: 200;
  font-size: 42px;
  color: #000000;
  padding-top: 28px;
  padding-left: 13px;
}

// .icon-quotes{
//   position: relative;

// }
// .icon-quotes span{
//   position: absolute;
//   display: block;
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   color: #5094f2;
// }
// .icon-quotes:before{
//   content: "\e903";
//   position: absolute;
// }

.nav ul{
  display: flex;
  flex-direction: row;
  padding-top: 48px;
  padding-right: 18px;
      li{
      padding-left: 40px;
          a{
          font-weight: 300;
          font-size: 20px;
          color: #6c6c6c;
          padding-bottom: 15px;
          border-bottom: 3px solid transparent;
             &:hover{
              border-bottom: 3px solid #5094f2;
      }
    }
  }
}
.slicknav_menu{
  display: none; 
  @include media('<680px') {
  display: block;
  margin-left: 557px;
  }
}
.nav {
  @include media('<680px') {
  display: none; 
  }
}
.mobiles-wrapper{
  background: url('../img/background01.png') no-repeat 50% 0;
  background-size: cover;
  min-height: 470px; 
  position: relative;
  @include media('<830px') {
           min-height: 276px;     
    }
}
.mobiles-wrapper:before{
  background: url('../img/teeth.png') repeat 50% 0;
  content:'';
  position: absolute;
  left: 0;
  bottom:0;
  width: 100%;
  height: 9px;
  @include media('<830px') {
           background: none;    
    }
}
.mobile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 976px;
  margin: auto;
   @include media('<975px') {
          width: 100%;
    }
    @include media('<760px') {
          justify-content: flex-start;
    }
}
.mobile .phone span {
   @include media('<760px') {
          width: 260px;
    }
    @include media('<640px') {
           width: 180px;    
    }
  }
.phone{
  padding-left: 35px;
  padding-top: 37px;
  padding-bottom: 20px;
  @include media('<976px') {
  display: flex;
  align-items: center;
  padding-left: 0;
  }
}
.phone img{
 @include media('<976px') {
          width: 100%;
          height: auto; 
          padding-left: 36px;     
    }
 @include media('<830px') {
          width: 80%;
          height: auto;      
    }
 // @include media('<760px') {
 //          width: 75%;
 //          height: auto;
 //    }
  }
.mobile .sign{
  padding-top: 150px;
  padding-right: 80px;
  @include media('<976px') {
           margin-left: 20px; 
           padding-right: 40px;     
    }
  @include media('<830px') {
           padding-top: 80px;
           margin-left: 0; 
           padding-right: 65px;     
    }
  @include media('<760px') {
           padding-top: 30px;
    }
  @include media('<640px') {
           padding-right: 10px; 
           margin-left: 10px;     
    }
}
.mobile .sign h1{
  font-weight: 300;
  font-size: 42px;
  color: #fff;
  @include media('<976px') {
           font-size: 35px;      
    }
  @include media('<830px') {
           font-size: 30px;      
    }
  @include media('<640px') {
           font-size: 25px;      
    }
}
.mobile .sign p{
  font-weight: 300;
  font-size: 26px;
  color: #fff;
  padding-top: 28px;
  @include media('<976px') {
           font-size: 23px;      
    }
  @include media('<640px') {
           font-size: 20px;      
    }
}
.mobile .sign span{
  display: block;
  margin-top: 37px;
  margin-left: 15px;
  padding-left: 40px;
  padding-top: 8px;
  width: 175px;
  height: 42px;
  background: #5094f2;
  border-radius: 2px; 
  @include media('<760px') {
           margin-left: 0;
           width: 236px;
           height: 54px;

    }
}
.mobile .sign a{
  font-family: Conv_SegoeWPN, sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #fff;
  @include media('<760px') {
           font-size: 32px;   
    }
}


// .mobiles-wrapper{
//   position: relative;
// }
// .mobiles{
//   overflow: hidden;
// }
// .mobiles img{
//   height: auto;
//   min-width: 100%;
//   transform: translateX(-50%);
//   position: relative;
//   left: 50%;
// }
// .intro .slick-next{
//   background: #fe4953;
//   width: 65px;
//   height: 65px;
//   position: absolute;
//   right: 20px;
//   top: calc(50% - 32px);
// }
// .intro .slick-next:before{
//   content:'';
//   background: url('../img/arrow.png') no-repeat;
//   width: 11px;
//   height: 16px;
//   position: absolute;
//   left: calc(50% - 5px);
//   top: calc(50% - 8px);
// }
// .intro .slick-prev{
//   background: #fe4953;
//   width: 65px;
//   height: 65px;
//   position: absolute;
//   left: 20px;
//   z-index: 9;
//   top: calc(50% - 32px);
// }
// .intro .slick-prev:before{
//   content:'';
//   background: url('../img/arrow-left.png') no-repeat;
//   width: 11px;
//   height: 16px;
//   position: absolute;
//   left: calc(50% - 5px);
//   top: calc(50% - 8px);
// }


.icon-checkmark{
  position: relative;
}
.icon-checkmark:before {
  content: "\e901";
  position: absolute;
  left: 10px;
  top: 9px;
  font-size: 25px;
  @include media('<760px') {
           top: 13px;
    }
}

.main{
  padding-top: 40px;
  width: 976px;
  margin: auto;
  display: flex;
  flex-direction: column;
   @include media('<976px') {
          width: 100%;
    }
    @include media('<830px') {
          padding-top: 0;
    }

}
.section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 350px;
  // min-height: 400px;
   padding-bottom: 25px; 
   @include media('<830px') {
          flex-direction: column;
          width: 100%;
    }

}
.container1,
.container2,
.container3{
  @include clearfix;
  @include media('<1000px') {
           margin-left: 10px; 
           margin-right: 10px;     
    }
     @include media('<830px') {
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          height: 194px;
          border-bottom: 2px solid #cccccc;
    }
    
}
.icon-pencil{
  position: relative;
}
.icon-pencil:before {
  content: "\e902";
  position: absolute;
  left: 57px;
  top: 39px;
  font-size: 113px;
  @include media('<830px') {
          font-size: 82px;
          left: 42px;
          top: 25px;
    }
}
.icon-screen{
  position: relative;
}
.icon-screen:before {
  content: "\e904";
  position: absolute;
  left: 31px;
  top: 39px;
  font-size: 113px;
  @include media('<830px') {
          font-size: 60px;
          left: 34px;
          top: 37px;
    }
}
.icon-basket{
  position: relative;
}
.icon-basket:before {
  content: "\e900";
  position: absolute;
  left: 36px;
  top: 35px;
  font-size: 113px;
  @include media('<830px') {
          font-size: 72px;
          left: 30px;
          top: 28px;
    }
}
.container1 span{
  display: block;
  margin-top: 27px;
  margin-left: 15px;
  width: 190px;
  height: 190px;
  background: #5094f2;
  border-radius: 50%; 
  @include media('<830px') {
          width: 137px;
          height: 137px;
    }
}

.container2 span{
  display: block;
  margin-top: 27px;
  margin-left: 15px;
  width: 190px;
  height: 190px;
  background: #d94748;
  border-radius: 50%; 
  @include media('<830px') {
          width: 137px;
          height: 137px;
    }
}
.container3 span{
  display: block;
  margin-top: 27px;
  margin-left: 15px;
  width: 190px;
  height: 190px;
  background: #ebbb11;
  border-radius: 50%; 
  @include media('<830px') {
          width: 137px;
          height: 137px;
    }
}
.lorem{
  margin-top: 25px;
  text-align: center;
  @include media('<830px') {
           margin-top: 66px;
           margin-left: 20px;
           margin-right: 10px;
           text-align: left;
    }
}
.lorem strong{
  display: block;
  font-family: Conv_SegoeWPN, sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 15px; 
  @include media('<830px') {
          font-size: 34px;
          padding-bottom: 10px;
    }
    
}
// .container1 strong{
//   display: block;
//   font-family: Conv_SegoeWPN, sans-serif;
//   font-weight: 400;
//   font-size: 20px;
//   margin-bottom: 15px;
// }
// .container2 strong{
//   font-family: Conv_SegoeWPN, sans-serif;
//   font-weight: 400;
//   font-size: 20px;
//   text-align: center;
//   padding-top: 25px;
//   padding-bottom: 15px;
// }
// .container3 strong{
//   font-family: Conv_SegoeWPN, sans-serif;
//   font-weight: 400;
//   font-size: 20px;
//   text-align: center;
//   padding-top: 25px;
//   padding-bottom: 15px;
// }
.container1 p,
.container2 p,
.container3 p{
  @include containerp;
  @include media('<830px') {
          font-size: 19px;
          text-align: left;
    }
  @include media('<640px') {
          font-size: 15px;
    }
}
.basket{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 30px;
  @include media('<1000px') {
    flex-direction: column;
    width: 100%;
    border-bottom: 2px solid #cccccc;
    margin-top: 0;

          
    }
}
.basket span{
  @include media('<976px') {
          display: flex;
          justify-content: center;
    }
  }

.basket img{
 @include media('<976px') {
          width: 50%;
          height: auto; 
          display: flex;
          justify-content: center;

    }
  }
.basket .row1{
  width: 390px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  align-items: center;
  @include media('<1000px') {
    width: 100%;     
    }
}
.basket .row2{
  width: 501px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
   @include media('<1000px') {
    width: 100%; 
    align-items: left;
    padding-left: 75px;
    }
}
.basket .row1 h2{
  font-family: Conv_SegoeWPN, sans-serif;
  font-weight: 400;
  font-size: 42px;
  color: #6f7173;
  }
.basket .row1 span{
  margin-top: 45px;
}
.basket .row2 h3{
  font-family: Conv_SegoeWPN, sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #6f7173;
  padding-top: 50px;
  padding-bottom: 30px;
   @include media('<1000px') {
    font-size: 42px;
    }
  }
 .basket .row2 p{
  font-family: Conv_SegoeWPN, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 36px;
  color: #6f7173;
  @include media('<1000px') {
    font-size: 17px;
    color: #909090;
    padding-bottom: 20px;
    }
  }

.footer {
  position: relative;
  width: 100%;
  // margin: auto;
  height: 100px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
 
}
.footer p{
  font-size: 13px;
  color: #9f9f9f; 
  padding-right: 5px;
}
.footer a{
  padding-left: 2px;
  color: #9f9f9f; 
}



// .list li {
//   display: inline;
//   font-size: 13px;
//   color: #9f9f9f; 
//   padding-right: 10px;
// }
// .list li a {
//   
// }

// .list:before {
//   content: '';
//   background: url("../img/sprite.png") no-repeat 0 -18px;
//   width: 10px;
//   height: 9px;
//   position: absolute;
//   left: 512px;
//   top: 45px; 
// }